@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: -28 44.849999999999994% 4.48%;
    --foreground: -28 6.8999999999999995% 97.8%;

    --muted: -28 34.5% 16.8%;
    --muted-foreground: -28 6.8999999999999995% 55.6%;

    --popover: -28 51.2% 7.280000000000001%;
    --popover-foreground: -28 6.8999999999999995% 97.8%;

    --card: -28 51.2% 7.280000000000001%;
    --card-foreground: -28 6.8999999999999995% 97.8%;

    --border: -28 34.5% 16.8%;
    --input: -28 34.5% 16.8%;

    --primary: -28 69% 56%;
    --primary-foreground: -28 6.8999999999999995% 5.6000000000000005%;

    --secondary: -28 34.5% 16.8%;
    --secondary-foreground: -28 6.8999999999999995% 97.8%;

    --accent: -28 34.5% 16.8%;
    --accent-foreground: -28 6.8999999999999995% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -28 6.8999999999999995% 97.8%;

    --ring: -28 69% 56%;

    --radius: 0.5rem;
  }

  .dark {
    --background: -28 44.849999999999994% 4.48%;
    --foreground: -28 6.8999999999999995% 97.8%;

    --muted: -28 34.5% 16.8%;
    --muted-foreground: -28 6.8999999999999995% 55.6%;

    --popover: -28 51.2% 7.280000000000001%;
    --popover-foreground: -28 6.8999999999999995% 97.8%;

    --card: -28 51.2% 7.280000000000001%;
    --card-foreground: -28 6.8999999999999995% 97.8%;

    --border: -28 34.5% 16.8%;
    --input: -28 34.5% 16.8%;

    --primary: -28 69% 56%;
    --primary-foreground: -28 6.8999999999999995% 5.6000000000000005%;

    --secondary: -28 34.5% 16.8%;
    --secondary-foreground: -28 6.8999999999999995% 97.8%;

    --accent: -28 34.5% 16.8%;
    --accent-foreground: -28 6.8999999999999995% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -28 6.8999999999999995% 97.8%;

    --ring: -28 69% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
